$background: #1c0021;
$background-dark: #240047;
$background-darker: #0c2d82;
$color: #333;
$color-dark: #222;
$color-light: #fff;
$color-link: #00a0e9;
$color-link-hover: #00a0e9;
$color-link-random: #01608c;

$background-card: rgb(32, 0, 66);
